<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all users with roles</title>
</head>
<body>
List of users
<br>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
{{#users}}
    <tr>
        <td>{{userName}}</td>
        <td>{{roles}}</td>
        <td><a href="/user/{{id}}">edit</a> </td>
    </tr>
{{/users}}
    </tbody>
</table>

</body>