<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all english word</title>
</head>
<body>


<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit", value="Sign Out" />
    </form>
</div>
<div>
    <span><a href="/user">User list</a> </span>
</div>
<br>
<br>
<br>
<div>
    <form method="post" action="add">
        <input type="text" name="word" placeholder="Input word"/>
        <input type="text" name="description" placeholder="Input description"/>
        <input type="text" name="translate" placeholder="Input translate" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Add</button>
    </form>
</div>
<br>
<br>
<br>
<div>Word list</div>
<form method="get" action="/main">
    <input type="text" name="filter" value="{{filter}}"/>
    <button type="submit">Search</button>
</form>
<br>
{{#enWords}}
    <div>
        <strong>{{enWordId}}</strong>
        <b>{{word}}</b>
        <i>{{description}}</i>
        <b>{{ruWord.word}}</b>
    </div>
{{/enWords}}

</body>
</html>