<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all english word</title>
</head>
<body>
    <div>See all word with description:</div>
    <br>
    {{#enWords}}
        <div>
            <b>{{id}}</b>
            <span>{{word}}</span>
            <i>{{description}}</i>
        </div>
    {{/enWords}}
    <br>
    <br>
    <br>
    <div>
        <form method="post">
            <input type="text" name="word" placeholder="Input word" />
            <input type="text" name="description" placeholder="Input description" >
            <button type="submit">Add</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <div>Find word with description by word</div>
    <form method="post" action="filter">
        <input type="text" name="filter" />
        <button type="submit">Search</button>
    </form>
    <br>
    {{#enWords}}
        <div>
            <b>{{id}}</b>
            <span>{{word}}</span>
            <i>{{description}}</i>
        </div>
    {{/enWords}}


</body>
</html>