<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit selected user</title>
</head>
<body>
User editor
<br>
<br>
<br>
<form action="/user" method="post">
    {{#user}}
        <input type="text" name="userName" value="{{userName}}">
        {{#roleUser}}
            <div>
                <label>
                    <input type="checkbox" name="{{roleUser}}">{{roleUser}}
                </label>
            </div>
        {{/roleUser}}
        {{#roleAdmin}}
            <div>
                <label>
                    <input type="checkbox" name="{{roleAdmin}}">{{roleAdmin}}
                </label>
            </div>
        {{/roleAdmin}}
        <input type="hidden" name="userId" value="{{id}}">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Save</button>
    {{/user}}
</form>


</body>